.container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.category-buttons .btn {
  display: flex; /* flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  white-space: nowrap; /* 줄바꿈 방지 */
  min-width: 120px; /* 최소 너비 설정 (조정 가능) */
  padding: 8px 16px; /* 내부 여백 설정 */
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열로 구성 */
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  position: relative;
  background-color: #fff;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  height: 150px; /* 이미지 높이 고정 */
  object-fit: cover; /* 이미지 비율 유지 */
  border-radius: 5px;
}

.product-card a {
  text-decoration: none; /* 밑줄 제거 */
  color: black; /* 글자색 검정 */
}

.product-card a:hover {
  color: black; /* hover 시에도 검정 유지 */
}


.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10px; /* 가격과 카드 내용 간격 조정 */
}

.rating {
  margin: 10px 0;
}

.btn-add-to-cart {
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  margin: 0 5px; /* 버튼 사이의 간격 */
  background-color: #DB4444;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변화에 애니메이션 추가 */
}

.btn-add-to-cart:hover {
  background-color: #bb3838;
}

.me-2 {
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  margin: 0 5px; /* 버튼 사이의 간격 */
  background-color: #4451db !important;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변화에 애니메이션 추가 */
}

.me-2:hover {
  background-color: #2833a1 !important;
}


.search-form {
  margin-bottom: 20px;
}

.action-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end; /* 버튼 정렬 */
}

.action-buttons button {
  margin-left: 10px; /* 버튼 간격 조정 */
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1.5rem;
}