.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* 내용이 적어도 화면 전체를 채우도록 */
}

.content-wrap {
  flex: 1;  /* 남는 공간을 메인 컨텐츠가 차지 */
  /* 여기에 padding이나 background-color 등을 원하는 대로 적용 */
}

/* Footer가 항상 아래쪽에 배치되도록, flex-shrink: 0 */
.footer-bar {
  flex-shrink: 0;
  text-align: center;
  padding: 15px;
  background-color: #f9f9f9;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
